[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "AzureOpenAI_srt_translator"]
	path = AzureOpenAI_srt_translator
	url = https://github.com/sykuang/AzureOpenAI_srt_translator.git
